$primary: 'deep-orange';
$warn: 'amber';
$accent: 'pink';

@import 'ember-paper';

.no-list-padding {
  margin: 0 -16px;
}

.logo {
  max-width: 50vw;
}

.lt-row {
  height: 50px;

  &.is-selected {
    background-color: #DEDEDE;
  }

  &:not(.is-selected):hover {
    background-color: #F5F4F4;
  }

  &:last-of-type {
    td {
      border-bottom-width: 0;
    }
  }

  &.colored-row {
    color: white;

    &:hover {
      opacity: 0.8;
    }
  }

  td {
    border-color: #DADADA;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    font-size: 13px;
  }
}
